language: node_js
node_js:
- '8'
sudo: false
script:
- 'npm test'
after_success:
- 'istanbul cover _mocha --report lcovonly -- -R spec && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage'
